.add-course {
  border-radius: 8px;
  border: none;
  background-color: var(--nord6);
  transition: all 0.2s ease; 
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.add-course:hover {
  background-color: var(--nord14);
  color: var(--nord6);
}